version: "3.8"

services:
  db:
    image: postgres
    restart: always
    container_name: postgres_db
    env_file: 
      - .env
    ports:
      - "5438:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      retries: 5
      timeout: 3s

  backend:
    depends_on:
      db:
        condition: service_healthy
    build: .
    restart: always
    container_name: backend_service
    ports:
      - "8000:8000"
    env_file:
      - .env
